// Style reset
@import '@/assets/styles/partials/reset.scss';

// Basic class
html,
body,
#app {
  width: 100%;
  height: 100%;
}

html, body {
  font-family: $fontFamily;
  background-color: $col-white;
  color: $col-dark;
}